<!-- .block-slideshow -->
<!-- <div class="block-slideshow block"
    [ngClass]="{'block-slideshow--layout--full': !withDepartments, 'block-slideshow--layout--with-departments': withDepartments}">
    <div class="container">
        <div class="row">
            <div *ngIf="withDepartments" class="col-3 d-lg-block d-none" appDepartmentsArea></div>
            <div class="col-12" [ngClass]="{'col-lg-12': !withDepartments, 'col-lg-9': withDepartments}">
                <div class="block-slideshow__body">
                    <owl-carousel-o *ngIf="slides?.length" [options]="options" appOwlPreventClick>
                        <ng-template *ngFor="let slide of slides" carouselSlide>
                            <a class="block-slideshow__slide" href="" appClick>
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                    [ngStyle]="{'background-image': 'url('+(withDepartments ? slide.image_classic : slide.image_full)+')'}">
                                </div>
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                    [ngStyle]="{'background-image': 'url('+slide.image_mobile+')'}"></div>
                                <div class="block-slideshow__slide-content">
                                    <div class="block-slideshow__slide-title"
                                        [innerHTML]="sanitizer.bypassSecurityTrustHtml(slide.title)"></div>
                                    <div class="block-slideshow__slide-text"
                                        [innerHTML]="sanitizer.bypassSecurityTrustHtml(slide.text)"></div>
                                    <div class="block-slideshow__slide-button">
                                        <span class="btn btn-primary btn-lg">Comprar ahora</span>
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- .block-slideshow / end -->

<div class="container" style="margin-top:50px ; ">
    <div>
        <h5 style="color:#15fed4 ">Más de 10.000 artículos.</h5>
    </div>
    <div class="row" style="margin-top:30px ;">
        <div class="col xl-8 " style="height: 400px;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 style="line-height:50px ;">El nuevo e-commerce con un gran stock de productos de tecnología
                        </h1>
                        <p>Las marcas más reconocidas y los productos mejor valorados.
                            Lanzamientos, ofertas, flash sales
                        </p>
                        <button class="" style="background-color:#15fed4; color:black; margin-bottom: 40px;">Ver
                            mas</button>
                    </div>
                    <div class="carousel-item">
                        <h1 style="line-height:50px ;">Todas tus compras e información en un solo lugar
                        </h1>
                        <p>Atención Personalizada y envíos a más de 100 países.
                        </p>
                        <button class="" style="background-color:#15fed4; color:black; margin-bottom: 40px;">Registrate</button>
                    </div>
                    <div class="carousel-item">
                        <h1 style="line-height:50px ;">Somos un e-commerce de tecnología con experiencia en ventas y personal especializado para alcanzar tu mejor compra
                        </h1>
                        <p>Brindamos asesoramiento y los mejores productos para la venta a minoristas, mayoristas y público en general.
                        </p>
                        <button class="" style="background-color:#15fed4; color:black; margin-bottom: 40px;">Ver
                            mas</button>
                    </div>
                </div>
               <!--  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button> -->
            </div>


        </div>
        <div class="col xl-4" style="height: 400px;">
            <iframe src='https://my.spline.design/prueba-c93c41e81d12875e7a2bfb2c3d1f763a/' frameborder='0' width='100%'
                height='100%'></iframe>
        </div>
    </div>
</div>