<div class="card">
    <div class="card-header">
        <h5>Edit Address</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="checkout-first-name">Nombre</label>
                        <input type="text" class="form-control" id="checkout-first-name" placeholder="Ingrese el nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="checkout-last-name">Apellidos</label>
                        <input type="text" class="form-control" id="checkout-last-name" placeholder="Ingrese los apellidos">
                    </div>
                </div>

                <div class="form-group">
                    <label for="checkout-company-name">Nombre de empresa <span class="text-muted">(Opcional)</span></label>
                    <input type="text" class="form-control" id="checkout-company-name" placeholder="Ingrese nombre de la empresa">
                </div>
                <div class="form-group">
                    <label for="checkout-country">País</label>
                    <select id="checkout-country" class="form-control form-control-select2">
                        <option>Seleccione una país...</option>
                        <option>United States</option>
                        <option>Russia</option>
                        <option>Italy</option>
                        <option>France</option>
                        <option>Ukraine</option>
                        <option>Germany</option>
                        <option>Australia</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="checkout-street-address">Dirección</label>
                    <input type="text" class="form-control" id="checkout-street-address" placeholder="Ingrese la dirección">
                </div>
                <div class="form-group">
                    <label for="checkout-address">Apartamento, suite, unidad, etc. <span class="text-muted">(Opcional)</span></label>
                    <input type="text" class="form-control" id="checkout-address" placeholder="Ingrese apartamento, suite, unidad">
                </div>
                <div class="form-group">
                    <label for="checkout-city">Pueblo / Ciudad</label>
                    <input type="text" class="form-control" id="checkout-city" placeholder="Ingrese pueblo / ciudad">
                </div>
                <div class="form-group">
                    <label for="checkout-state">Estado / Condado</label>
                    <input type="text" class="form-control" id="checkout-state"  placeholder="Ingrese estado / condado">
                </div>
                <div class="form-group">
                    <label for="checkout-postcode">Código postal / ZIP</label>
                    <input type="text" class="form-control" id="checkout-postcode" placeholder="Ingrese código postal / zip">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="checkout-email">Dirección de correo</label>
                        <input type="email" class="form-control" id="checkout-email" placeholder="Ingrese dirección de correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="checkout-phone">Teléfono</label>
                        <input type="text" class="form-control" id="checkout-phone" placeholder="Ingrese teléfono">
                    </div>
                </div>

                <div class="form-group mt-3 mb-0">
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
