// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------
.cuenta{
    display: flex;
    
    flex-wrap:nowrap ;
    align-items: center;
    background-color: aquamarine;
    height: 30px;
    margin-top: 35px;
    border-radius: 50px;
}

.cuenta span{
    color: black;
    padding-right: 15px;
}

.block-slideshow .owl-carousel .owl-dots {
    bottom: 16px;
    position: absolute;
    background: transparent; 
    display: flex;
    padding: 4px;
    border-radius: 9px;
    transform: rotate(90deg) !important;
    margin-left: -600px  !important;
    margin-bottom: 200px;
}

.owl-carousel, .owl-carousel .owl-item {
    
    top: -50px;
    /* height: 200px; */
}